/* line 4, ../sass/ns.scss */
section:after, .tweener:after, section .info-block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 11, ../sass/ns.scss */
section a, section:hover > div {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 16, ../sass/ns.scss */
section a:hover, section:hover > div:hover {
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

/* line 21, ../sass/ns.scss */
html {
  color: #666;
}

/* line 25, ../sass/ns.scss */
h1 {
  color: #333;
  padding: 2rem;
  margin: 0;
  text-align: center;
  font-weight: normal;
}

/* line 33, ../sass/ns.scss */
h2 {
  color: #444;
  margin-top: 0;
}

/* line 38, ../sass/ns.scss */
p {
  line-height: 1.8;
}

/* line 42, ../sass/ns.scss */
img.logo {
  margin: 0 auto;
  width: 10rem;
}

/* line 48, ../sass/ns.scss */
li:after {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  content: "Nick Anderson - flic.kr/ps/QG591";
  padding: .5rem 1rem .5rem .5rem;
  position: absolute;
  bottom: 1rem;
  right: 0;
  font-size: 10px;
}

/* https://stackoverflow.com/questions/20150621/sass-mixin-for-animation-keyframe-which-includes-multiple-stages-and-transform-p/23861638#23861638
animation mixing
keyframe animation
@include animation('animation-name .4s 1')*/
/* line 96, ../sass/ns.scss */
html {
  background: white;
  padding: 1rem;
  font-family: sans-serif;
}

/* line 102, ../sass/ns.scss */
section {
  background: white;
  max-width: 1024px;
  margin: auto;
  /* The Holy Grail of CSS Centering - http://webdesign.tutsplus.com/tutorials/the-holy-grail-of-css-centering--cms-22114 */
}
/* line 108, ../sass/ns.scss */
section a {
  color: #666;
  text-decoration: none;
  padding: 1rem;
  border: 1px solid;
  float: left;
}
/* line 116, ../sass/ns.scss */
section a:hover {
  background: #111;
  border-color: transparent;
  color: white;
  opacity: .75;
}
/* line 124, ../sass/ns.scss */
section img {
  width: 100%;
}
/* line 128, ../sass/ns.scss */
section p {
  margin-top: 0;
  text-align: left;
}
/* line 133, ../sass/ns.scss */
section .contained {
  height: 70%;
  margin: auto;
  width: 100%;
}
/* line 139, ../sass/ns.scss */
section .outer {
  display: table;
  height: 100%;
  width: 100%;
  word-spacing: -1rem;
}
/* line 146, ../sass/ns.scss */
section .inner {
  display: table-cell;
  vertical-align: middle;
}
/* line 151, ../sass/ns.scss */
section .centered {
  display: inline-block;
  float: left;
  position: relative;
  width: 100%;
}
/* line 159, ../sass/ns.scss */
section:hover > div {
  opacity: .5;
}
/* line 163, ../sass/ns.scss */
section:hover > div:hover {
  opacity: 1;
}

/* The "Tweener" ... My addition to allow for cross-browser support of alternating element alignment of non-css-class-ified elements*/
/* line 172, ../sass/ns.scss */
.tweener {
  direction: ltr;
  display: inline-table;
  height: auto;
  width: 50%;
  word-spacing: normal;
}
/* line 180, ../sass/ns.scss */
.tweener .inner {
  width: 100% !important;
}

/*.tweener:nth-of-type(odd) .centered > * {
  @include box-shadow(0 5px 1px -3px rgba(0,0,0,.2));
}*/
/* line 191, ../sass/ns.scss */
.text-block {
  width: 80%;
  float: right;
}

/* line 196, ../sass/ns.scss */
.tweener {
  height: 100%;
  vertical-align: middle;
  width: 50%;
}

/* line 202, ../sass/ns.scss */
section .info-block {
  border-bottom: 1px solid #ccc;
  padding: 4rem 0;
}
/* line 207, ../sass/ns.scss */
section .info-block:last-of-type {
  border: none;
}
/* line 212, ../sass/ns.scss */
section .info-block:nth-child(2n) .outer {
  direction: rtl;
}
/* line 216, ../sass/ns.scss */
section .info-block:nth-child(2n) .text-block {
  float: left;
}

/* line 224, ../sass/ns.scss */
.video-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}
/* line 231, ../sass/ns.scss */
.video-container iframe,
.video-container object,
.video-container embed {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@-webkit-keyframes xfade {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
}
@-moz-keyframes xfade {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
}
@-o-keyframes xfade {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
}
@keyframes xfade {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
}
/* line 249, ../sass/ns.scss */
section ul.xfade {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 66.69922%;
  position: relative;
  width: 100%;
}
/* line 258, ../sass/ns.scss */
section ul.xfade li {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
/* line 266, ../sass/ns.scss */
section ul.xfade li:nth-child(3) {
  -webkit-animation: xfade 12s 0s infinite;
  -moz-animation: xfade 12s 0s infinite;
  -o-animation: xfade 12s 0s infinite;
  animation: xfade 12s 0s infinite;
}
/* line 270, ../sass/ns.scss */
section ul.xfade li:nth-child(2) {
  -webkit-animation: xfade 12s 4s infinite;
  -moz-animation: xfade 12s 4s infinite;
  -o-animation: xfade 12s 4s infinite;
  animation: xfade 12s 4s infinite;
}
/* line 274, ../sass/ns.scss */
section ul.xfade li:nth-child(1) {
  -webkit-animation: xfade 12s 8s infinite;
  -moz-animation: xfade 12s 8s infinite;
  -o-animation: xfade 12s 8s infinite;
  animation: xfade 12s 8s infinite;
}

/* line 281, ../sass/ns.scss */
section .info-block:nth-child(3n+2) ul.xfade li:nth-child(3) {
  -webkit-animation: xfade 12s -1s infinite;
  -moz-animation: xfade 12s -1s infinite;
  -o-animation: xfade 12s -1s infinite;
  animation: xfade 12s -1s infinite;
}
/* line 285, ../sass/ns.scss */
section .info-block:nth-child(3n+2) ul.xfade li:nth-child(2) {
  -webkit-animation: xfade 12s 3s infinite;
  -moz-animation: xfade 12s 3s infinite;
  -o-animation: xfade 12s 3s infinite;
  animation: xfade 12s 3s infinite;
}
/* line 289, ../sass/ns.scss */
section .info-block:nth-child(3n+2) ul.xfade li:nth-child(1) {
  -webkit-animation: xfade 12s 7s infinite;
  -moz-animation: xfade 12s 7s infinite;
  -o-animation: xfade 12s 7s infinite;
  animation: xfade 12s 7s infinite;
}

/* line 296, ../sass/ns.scss */
section .info-block:nth-child(3n+3) ul.xfade li:nth-child(3) {
  -webkit-animation: xfade 12s -2s infinite;
  -moz-animation: xfade 12s -2s infinite;
  -o-animation: xfade 12s -2s infinite;
  animation: xfade 12s -2s infinite;
}
/* line 300, ../sass/ns.scss */
section .info-block:nth-child(3n+3) ul.xfade li:nth-child(2) {
  -webkit-animation: xfade 12s 2s infinite;
  -moz-animation: xfade 12s 2s infinite;
  -o-animation: xfade 12s 2s infinite;
  animation: xfade 12s 2s infinite;
}
/* line 304, ../sass/ns.scss */
section .info-block:nth-child(3n+3) ul.xfade li:nth-child(1) {
  -webkit-animation: xfade 12s 6s infinite;
  -moz-animation: xfade 12s 6s infinite;
  -o-animation: xfade 12s 6s infinite;
  animation: xfade 12s 6s infinite;
}
